*.o
*include_stamp
*dependencies
*.stamp
*.mod
*.start
*.finished
bin
lib
src/tools/ga-*
src/tools/*.tar.gz
src/tools/build
src/include
!src/include/GNUmakefile
!src/include/Makefile
src/config/NWCHEM_CONFIG
src/config/nwchem_config.h
src/util/util_ga_version.F
src/util/util_module_avail.F
src/util/util_nwchem_version.F
src/util/util_version.F
src/peigs/peigs_stamp.LINUX64
src/stubs.F
src/tools/install/

